<h1>Listing battles</h1>

<table>
  <tr>
    <th>Trainer</th>
    <th>Enemy</th>
    <th>Turns</th>
    <th>Complete</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @battles.each do |battle| %>
  <tr>
    <td><%= Trainer.find(battle.trainer_id).name %></td>
    <td><%= Trainer.find(battle.enemy_id).name %></td>
    <td><%= battle.turns %></td>
    <td><%= battle.complete %></td>
    <td><%= link_to 'Show', battle %></td>
    <td><%= link_to 'Edit', edit_battle_path(battle) %></td>
    <td><%= link_to 'Destroy', battle, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Battle', new_battle_path %>
